<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrowdFundr.</title>
    <link rel="icon" href="/img/favicon.png" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/alert-message.css" />
    <link rel="stylesheet" href="/css/footer.css" />

  </head>
  <body>

    <!-- Start Landing Page -->

    <div class="landing-page">
      <div class="container">

        {{!----- NAV BAR Start--------}}
        {{#if user}}
        {{> protected-nav}}
       
        {{else}}
         {{> public-nav}}
        {{/if}}

        {{!----- NAV BAR End--------}}
        <div class="banner">
          <div class="info">
            <h1>Get the right help <br /> and exposure you <br />need ☘️</h1>
            <p>A secure and transaprent platform for indviduals and non-profit
              organizations to start there ventures and get the right help they
              need.
            </p>
            <button class="button" id="start-campaign">Start a Campaign</button>
          </div>
          <div class="image">
            <img src="/img/banner.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
    <!-- End Landing Page -->

    <div class="cards-carousel">
      <div class="card-message">
        popular
        <span>campaigns</span>
        🔥
        <br />
      </div>
      <div class="cards-container">

          {{!-- ----------------DYNAMICALLY GENERATED-------------- --}}

        </div> 
      </div>

    </div>
    <div class="achievements-head">our <span>achievements </span> 🏆</div>
    <div class="achievements">
      <div class="backed-projects">
        <div class="illus">
          <img src="/img/backed.svg" data-aos="zoom-in" data-aos-delay="200"/>
        </div>
        <div class="achievement-deatils">
          Campaigns Backed
          <p class="achievements-para" id="caba">0</p>
        </div>
      </div>
      <div class="money-raised">
        <div class="illus">
          <img src="/img/piggy.svg" data-aos="zoom-in" data-aos-delay="300"/>
        </div>
        <div class="achievement-deatils">
          Money Raised
          <p class="achievements-para" id="mora">रू 0</p>
        </div>
      </div>
      <div class="people-contributed">
        <div class="illus">
          <img src="/img/contributors.svg" data-aos="zoom-in" data-aos-delay="400"/>
        </div>
        <div class="achievement-deatils">
          People Contributed
          <p class="achievements-para" id="peco">0</p>
        </div>
      </div>
    </div>
    <div class="alert-box"></div>        
     {{>footer}}

    {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.js" integrity="sha512-xjzDqCmpabFznyCZ92vM1F0gg8ExgSukopZQOCcVbObLyJSmZAkaB9wzOCeSClearljJcjRh67cGDp2uv4diLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/alert.js"></script>
    <script src="/js/nav.js"></script>
    <script>
  AOS.init({once: false,offset: 220,});
</script>
  </body>
</html> 




                                                                            