<div class="header-area">
  <nav>
    <li class="discover-nav">Explore</li>
  </nav>
  <div class="logo">crowd<span id="accent">fundr.</span></div>
  <nav class="menu-nav-container">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img class="menu-bar-icon" src="/img/menu.svg">
    {{!-- <li class="login-nav button">Log Out</li> --}}
    <div class="dropdown-menu">
      <div class="profile-menu"><img src="/img/profile.svg"><p>Profile</p></div>
      <div class="logout-menu"><img src="/img/logout.png"><p>Logout</p></div>
    </div>
  </nav>
</div>