<div class="header-area">
  <nav>
    <li class="discover-nav">Explore</li>
  </nav>
  <div class="logo">crowd<span id="accent">fundr.</span></div>
  <nav>
    <li class="login-nav button">Login</li>
  </nav>
</div>